*{
  box-sizing:border-box;
}

body{
  margin:0;
  height:100vh;
  overflow:hidden;
  font-family: Inter, sans-serif;
  background: linear-gradient(135deg,#0f172a,#1e293b);
  color:white;
}

/* Desktop */
#desktop{
  position:absolute;
  width:100vw;
  height:100vh;
  padding:40px;
  display:flex;
  flex-wrap:wrap;
  gap:30px;
}

/* Icons */
.icon{
  width:90px;
  text-align:center;
  cursor:pointer;
  transition:0.2s;
}

.icon:hover{
  transform:scale(1.08);
}

.icon img{
  width:70px;
  height:70px;
  border-radius:20px;
}

/* Window */
.window{
  position:absolute;
  width:900px;
  height:550px;
  backdrop-filter: blur(25px);
  background: rgba(30,41,59,0.6);
  border:1px solid rgba(255,255,255,0.1);
  border-radius:20px;
  display:flex;
  flex-direction:column;
  box-shadow:0 30px 60px rgba(0,0,0,0.6);
  overflow:hidden;
  resize:both;
}

/* Header */
.window-header{
  height:45px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 15px;
  cursor:move;
  background:rgba(15,23,42,0.4);
}

/* Header buttons */
.window-controls{
  display:flex;
  gap:8px;
}

.control-btn{
  width:14px;
  height:14px;
  border-radius:50%;
  cursor:pointer;
}

.close{ background:#ff5f56; }
.min{ background:#ffbd2e; }
.max{ background:#27c93f; }

.window iframe{
  flex:1;
  border:none;
}

/* Dock */
#taskbar{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  height:65px;
  padding:10px 20px;
  background:rgba(15,23,42,0.6);
  backdrop-filter:blur(20px);
  border-radius:25px;
  display:flex;
  align-items:center;
  gap:15px;
  box-shadow:0 20px 40px rgba(0,0,0,0.5);
}

.taskbar-icon{
  width:45px;
  height:45px;
  border-radius:12px;
  cursor:pointer;
  transition:0.2s;
}

.taskbar-icon:hover{
  transform:scale(1.2);
}
